<!DOCTYPE html>
<html>
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link href="/stylesheets/rooms.css" rel="stylesheet" />
        <script src="../javascripts/makeReservation.js" defer></script>
    </head>
    <body>
        <h2 class="p-3">Choose a room</h2>
        <div class="list-group">
            <% rooms.forEach(function(room) { %>
            <div class="row px-3 py-1 w-100">
                <span class="col py-1 bg-info"
                    >Room for <%=room.Capacity%> people<span class="right"
                        >Daily cost: <%=room.PricePerDay%></span
                    ></span
                >
                <button
                    class="col btn btn-secondary"
                    onclick="makeReservation(1,'<%=room.id%>',
'http\:\/\/localhost:3000\/rooms\/reservation')"
                >
                    Rent a room
                </button>
            </div>
            <% }); %>
        </div>
    </body>
</html>
