<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Users:</h1>
        <ul>
            <% users.forEach(function(user) { %>
            <li><%= user.firstName %> <%= user.lastName %></li>
            <% }); %>
        </ul>
    </body>
</html>
